/* @theme theme-yellow */

/**
 * @theme theme-yellow-dark
 * @size 4:4 1080px 1080px
 * @size 4:5 1080px 1350px
  */

@import 'default';

:root {
  --color-black: #050113;
  --color-white: #f5f5f5;
  --color-accent: #F7DD71;
  --color-secondary: #8B7EDF;
  --color-bg-purple: #0b0426;

  --title-bg: url("data:image/svg+xml,%3Csvg width='1000' height='145' viewBox='0 0 1000 145' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1000L908 145H0V0Z' fill='%23F7DD71'/%3E%3C/svg%3E");  
}

/* ------------ Markdown styling ------------ */

section {
  background: var(--color-bg-purple);
  font-family: 'Montserrat';
  line-height: 180%;
  font-size: 42px;
  color: var(--color-white);
  height: 1350px;
  width: 1080px;
  padding: 0px;
}

p {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 50px;
  padding-right: 50px;
}

strong {
  color: var(--color-accent);
}

a {
  color: var(--color-accent);
}

footer {
  padding-left: 50px;
  color: var(--color-secondary);
  padding-right: 50px;
}

footer > a {
  color: var(--color-secondary);

}

h1 {
  font-size: 52px;
  font-weight: bolder;
  
  padding-left: 50px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: var(--color-black);
  width: 980px;
  
  top: 80px;
  position: absolute;
  
  background-image: var(--title-bg);
  background-repeat: no-repeat; 
}

h2 {
  font-size: 48px;
  font-weight: bolder;
  
  padding-left: 50px;
  padding-bottom: 8px;
}

h3 {
  font-size: 44px;
  font-weight: bold;
  
  padding-left: 50px;
  padding-bottom: 8px;
}

h4 {
  font-size: 40px;
  font-weight: 600;
  
  padding-left: 50px;
  
  padding-bottom: 8px;
}
 
ul, ol {
  padding-left: 120px;
}

ul > li {
  padding-left: 50px;
  padding-right: 50px;
}

img {
  background: none;
  margin-top: 12px;
  margin-bottom: 12px;
}

section > * {
  z-index: 100;
}

blockquote {
  font-size: 32px;
  line-height: 160%;
  padding-left: 0px;
  padding-right: 4px;
  color: var(--color-secondary);
  border-left-color: var(--color-secondary);
  margin-top: 16px;
  margin-left: 50px;
}

blockquote p {
  padding-left: 30px;
}

/* Syntax highlight */
section pre code svg[data-marp-fitting=svg] {
  max-height: 700px!important;
  max-width: 960px;
}

code {
  background-color: var(--color-black);
  color: var(--color-secondary);
}

pre {
  margin-left: 50px;
  margin-right: 50px;

  background-color: var(--color-bg-purple);
  padding: 40px;
  font-size: 24px;

  border-color: var(--color-white);
  border-radius: 18px;
}

pre > code {
  font-size: 100px;
  color: var(--color-white);
  font-family: 'Consolas';
  font-weight: normal;
  line-height: 130%;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: red;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attr,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
  color: var(--color-white)
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/* ------------ Utility classes ------------ */
img.background {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  min-height: 100%; 
  min-width: 100%;
  z-index: 1;
}

.github-repo {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.github-logo {
  width: 180px;
  height: 180px;
  background-image: url("../assets/github-light.svg");
  background-repeat: no-repeat;
}

.github-repo .url {
  margin-top: 16px;
  color: var(--color-secondary);
}
.github-repo p {
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  line-height: 1.2;
  font-size: 100vi;
}

blockquote.small-centered {
  text-align: center; 
  font-size: 28px; 
  width: 60%; 
  margin-left: auto; 
  margin-right: auto;
}